[submodule "robodc-app"]
	path = robodc-app
	url = https://github.com/thiagoaraujocampos/robodc-app
[submodule "robodc-api"]
	path = robodc-api
	url = https://github.com/thiagoaraujocampos/robodc-api
[submodule "robodc-docs"]
	path = robodc-docs
	url = https://github.com/thiagoaraujocampos/robodc-docs
