<ion-content class="ion-padding">
  <span class="back-button" [routerLink]="'/'">
    <ion-icon name="arrow-back-outline"></ion-icon>
    {{ 'common.back' | translate }}
  </span>

  <div class="container">
    <h1>Configurações</h1>

    <ion-item fill="outline">
      <ion-label position="stacked">RoboDC API</ion-label>
      <ion-input
        [(ngModel)]="robot_api"
        placeholder="Ex: http://192.168.1.100:5000"
      ></ion-input>
    </ion-item>

    <ion-item fill="outline">
      <ion-label position="stacked">RoboDC WebSocket</ion-label>
      <ion-input
        [(ngModel)]="robot_ws"
        placeholder="Ex: ws://192.168.1.100:9090"
      ></ion-input>
    </ion-item>

    <ion-item fill="outline">
      <ion-label>Usar Face Virtual (ROS)</ion-label>
      <ion-toggle [(ngModel)]="use_virtual_face"></ion-toggle>
    </ion-item>

    <ion-button expand="full" (click)="save()"> Salvar </ion-button>
    <ion-button expand="full" (click)="reset()"> Redefinir </ion-button>
  </div>
</ion-content>
