<ion-content>
  <span class="back-button" (click)="goToHome()">
    <ion-icon name="arrow-back-outline"></ion-icon>
    {{ 'common.back' | translate }}
  </span>

  <div class="container fetch-error" *ngIf="fetchError">
    <img src="/assets/sleep_robot.svg" alt="Imagem do Robô Dormindo." />
    <h3>Não foi possível obter os dados do Departamento de Computação</h3>
  </div>

  <div class="container" *ngIf="!fetchError">
    <div class="control-mode-toggle">
      <ion-toggle [(ngModel)]="useJoystick"></ion-toggle>
      <span>{{ useJoystick ? 'Joystick' : 'Setas' }}</span>
    </div>

    <div class="direction-controllers" *ngIf="!useJoystick">
      <div class="direction-icon" (click)="emitCmdVel(sLinear, sAngular)">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </div>
      <div class="direction-icon" (click)="emitCmdVel(sLinear, 0)">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </div>
      <div class="direction-icon" (click)="emitCmdVel(sLinear, -sAngular)">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </div>
      <div class="direction-icon" (click)="emitCmdVel(0, sAngular)">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </div>
      <div class="direction-icon" (click)="emitCmdVel(0, 0)">
        <ion-icon name="ellipse-outline"></ion-icon>
      </div>
      <div class="direction-icon" (click)="emitCmdVel(0, -sAngular)">
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </div>
      <div class="direction-icon" (click)="emitCmdVel(-sLinear, -sAngular)">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </div>
      <div class="direction-icon" (click)="emitCmdVel(-sLinear, 0)">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </div>
      <div class="direction-icon" (click)="emitCmdVel(-sLinear, sAngular)">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </div>
    </div>

    <div class="joystick-area" *ngIf="useJoystick">
      <div class="joystick-container"
        (pointerdown)="onJoystickStart($event)">
        <div class="joystick-center"
          [style.transform]="'translate(calc(-50% + ' + joystickX + 'px), calc(-50% + ' + joystickY + 'px))'"></div>
      </div>
    </div>

    <div class="status">
      <div class="status-console">
        <p *ngFor="let log of logs.slice().reverse()">{{ log }}</p>
      </div>
      <div *ngIf="!isConnected" class="connect-button" style="background-color: #1ca84f;" (click)="connect()">
        Conectar
      </div>
      <div *ngIf="isConnected" class="connect-button" style="background-color: #e25444;" (click)="disconnect()">
        Desconectar
      </div>
    </div>

    <div class="velocity-controllers">
      <div class="velocity-controller">
        <span>Velocidade Linear: {{ sLinear.toFixed(1) }}</span>
        <div class="velocity-buttons">
          <div class="velocity-button" (click)="increaseLinear()">
            <ion-icon name="arrow-up-outline"></ion-icon>
          </div>
          <div class="velocity-button" (click)="decreaseLinear()">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </div>
        </div>
      </div>

      <div class="velocity-controller">
        <span>Velocidade Angular: {{ sAngular.toFixed(1) }}</span>
        <div class="velocity-buttons">
          <div class="velocity-button" (click)="increaseAngular()">
            <ion-icon name="arrow-up-outline"></ion-icon>
          </div>
          <div class="velocity-button" (click)="decreaseAngular()">
            <ion-icon name="arrow-down-outline"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
